@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Poppins:ital,wght@1,500&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

main{
    font-family: 'Poppins';
}

a {
    transition: 10s ease;
    cursor: pointer;
    color: #FEA94E;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

/*Navbar*/

.Logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 9px;
    height: 80%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Franklin Gothic Medium',
     'Arial Narrow', Arial, sans-serif;
    background: #787833;
    color: #FEA94E;
    height: 14vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 64px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: .3s;
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    .nav-list{
        position: absolute;
        top: 14vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #787833;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: 0.3s ease-in;
    }

    .nav-list li {
        cursor: pointer;
        display: none;
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0)
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

/*Main page - Home*/

main {
    background-color: rgb(224, 224, 224);
    color: #693804;
    height: 600vh;
}

.home{
    display: flex;
    height: 76.7vh;
    justify-content: space-between;
    align-items: center;
    padding: 5% 5% 0% 5%;
}

.main-img {
    height: 40vh;
    border-radius: 20%;
}